In [5]:
import pandas as pd
import numpy as np
import requests

In [6]:
headers = {"User-Agent": "XY"}
link = "https://brokercenter.net/playa-del-carmen/" # enter specific page
r = requests.get(link, headers=headers)
print(len(r.text.split('<tr class="row')))

Dataset = "" # declare variable so python does not freak out

190

In [7]:
cols = []
for row in range(1, len(r.text.split('<tr class="row'))): # loop through rows
        l = r.text.split(f'<tr class="row-{row} ')[1].split('</tr>')[0]
        s = l.split('">')
        icols = []
        for col in range(7): # loop through columns in rows

                # get data from html
                if s[col].split("<")[0] == '\n\t' or s[col].split("<")[0] == "odd" or s[col].split("<")[0] == "even":
                        continue
                if row == 1:
                        cols.append(s[col].split("<")[0])
                else:
                        icols.append(s[col].split("<")[0])
                        
        # append data to dataset
        if row == 1:
                continue
        if row == 2:
                print(cols) # print columns
                Dataset = pd.DataFrame(np.array(icols).reshape([1, len(icols)]), index=[1], columns=cols)
                print(Dataset) # print columns and first row of data
        else:
                # appease pandas with odd reshaping of data lists
                Dataset = Dataset.append(pd.DataFrame(np.array(icols).reshape([1, len(icols)]), index=[1], columns=cols))

['Desarrollo', 'Entrega', 'Dirección', 'Cantidad de unidades', 'Master Broker']
    Desarrollo    Entrega          Dirección Cantidad de unidades  \
1  120 Midtown  Inmediata  Av. 120 y calle 3                   15

  Master Broker
1    MAYA OCEAN

In [8]:
print(Dataset) # print data(it tends to run together when printed but is clean in memory)

      Desarrollo      Entrega                         Dirección  \
1    120 Midtown    Inmediata                 Av. 120 y calle 3
1     953 Studio    Inmediata                Av. 95 con Calle 3
1           1540   SUSPENDIDO               Av. 15 con Calle 40
1   Acento Playa    Inmediata  Av. 15 entre Calle 38 y Calle 40
1          Agama                             Av 10 con Calle 24
..           ...          ...                               ...
1         Yaxche  Agosto-2022               Av. 45 con calle 26
1       Zazil 20    Inmediata               Av. 20 con calle 42
1       Zilha 42    Inmediata            Calle 42 entre 20 y 25
1       Zulim 34    Inmediata               Calle 34 con Av. 35
1   Zulim Condos    Inmediata   Diagonal Aeropuerto esq. Av. 45

   Cantidad de unidades        Master Broker
1                    15           MAYA OCEAN
1                    35             INGARPRO
1                    24
1                     6  BOZATI INMOBILIARIA
1                                       KAUA
..                  ...                  ...
1                    59          HEI REALTOR
1                    20             ZAZIL 20
1                    31              ZILHA42
1                    20    GRUPO DE LA TORRE
1                    19    GRUPO DE LA TORRE

[188 rows x 5 columns]

In [9]:
Dataset.to_csv("data.csv") # save as csv file