In [10]:
import pandas as pd
import numpy as np
import requests

In [11]:
# P L A Y A  D E L  C A R M E N

headers = {"User-Agent": "XY"}
link = "https://brokercenter.net/playa-del-carmen/" # enter specific page
r = requests.get(link, headers=headers)
print(len(r.text.split('<tr class="row')))

Dataset = "" # declare variable so python does not freak out

190

In [12]:
cols = []
for row in range(1, len(r.text.split('<tr class="row'))): # loop through rows
        l = r.text.split(f'<tr class="row-{row} ')[1].split('</tr>')[0]
        s = l.split('">')
        icols = []
        for col in range(7): # loop through columns in rows

                # get data from html
                if s[col].split("<")[0] == '\n\t' or s[col].split("<")[0] == "odd" or s[col].split("<")[0] == "even":
                        continue
                if row == 1:
                        cols.append(s[col].split("<")[0])
                else:
                        icols.append(s[col].split("<")[0])
                        
        # append data to dataset
        if row == 1:
                continue
        if row == 2:
                print(cols) # print columns
                Dataset = pd.DataFrame(np.array(icols).reshape([1, len(icols)]), index=[1], columns=cols)
                print(Dataset) # print columns and first row of data
        else:
                # appease pandas with odd reshaping of data lists
                Dataset = Dataset.append(pd.DataFrame(np.array(icols).reshape([1, len(icols)]), index=[1], columns=cols))

['Desarrollo', 'Entrega', 'Dirección', 'Cantidad de unidades', 'Master Broker']
    Desarrollo    Entrega          Dirección Cantidad de unidades  \
1  120 Midtown  Inmediata  Av. 120 y calle 3                   15

  Master Broker
1    MAYA OCEAN

In [13]:
print(Dataset) # print data(it tends to run together when printed but is clean in memory)

      Desarrollo      Entrega                         Dirección  \
1    120 Midtown    Inmediata                 Av. 120 y calle 3
1     953 Studio    Inmediata                Av. 95 con Calle 3
1           1540   SUSPENDIDO               Av. 15 con Calle 40
1   Acento Playa    Inmediata  Av. 15 entre Calle 38 y Calle 40
1          Agama                             Av 10 con Calle 24
..           ...          ...                               ...
1         Yaxche  Agosto-2022               Av. 45 con calle 26
1       Zazil 20    Inmediata               Av. 20 con calle 42
1       Zilha 42    Inmediata            Calle 42 entre 20 y 25
1       Zulim 34    Inmediata               Calle 34 con Av. 35
1   Zulim Condos    Inmediata   Diagonal Aeropuerto esq. Av. 45

   Cantidad de unidades        Master Broker
1                    15           MAYA OCEAN
1                    35             INGARPRO
1                    24
1                     6  BOZATI INMOBILIARIA
1                                       KAUA
..                  ...                  ...
1                    59          HEI REALTOR
1                    20             ZAZIL 20
1                    31              ZILHA42
1                    20    GRUPO DE LA TORRE
1                    19    GRUPO DE LA TORRE

[188 rows x 5 columns]

In [14]:
Dataset.to_csv("PLAYAdelCARMEN.csv") # save as csv file

In [15]:
# T U L U M
headers = {"User-Agent": "XY"}
link = "https://brokercenter.net/tulum/" # enter specific page
r = requests.get(link, headers=headers)
print(len(r.text.split('<tr class="row')))

Dataset = "" # declare variable so python does not freak out

337

In [16]:
cols = []
for row in range(1, len(r.text.split('<tr class="row'))): # loop through rows
        l = r.text.split(f'<tr class="row-{row} ')[1].split('</tr>')[0]
        s = l.split('">')
        icols = []
        for col in range(7): # loop through columns in rows

                # get data from html
                if s[col].split("<")[0] == '\n\t' or s[col].split("<")[0] == "odd" or s[col].split("<")[0] == "even":
                        continue
                if row == 1:
                        cols.append(s[col].split("<")[0])
                else:
                        icols.append(s[col].split("<")[0])
                        
        # append data to dataset
        if row == 1:
                continue
        if row == 2:
                print(cols) # print columns
                Dataset = pd.DataFrame(np.array(icols).reshape([1, len(icols)]), index=[1], columns=cols)
                print(Dataset) # print columns and first row of data
        else:
                # appease pandas with odd reshaping of data lists
                Dataset = Dataset.append(pd.DataFrame(np.array(icols).reshape([1, len(icols)]), index=[1], columns=cols))

['Desarrollo', 'Entrega', 'Dirección', 'Cantidad de', 'Master Broker']
  Desarrollo    Entrega  Dirección Cantidad de   Master Broker
1      Amena  Inmediata  Region 15          24  RIVIERA MORADA

In [17]:
print(Dataset) # print data(it tends to run together when printed but is clean in memory)

              Desarrollo             Entrega      Dirección Cantidad de  \
1                  Amena           Inmediata      Region 15          24
1   Blue Luxury Kukulcan           Inmediata      Region 15
1                  Cacao           Inmediata      La Veleta          54
1               Condos 8           Inmediata      La Veleta          20
1                  Copal           Inmediata     Aldea Zama          56
..                   ...                 ...            ...         ...
1                   Xuxu      Diciembre-2021  Riviera Tulum           8
1                 Xuxu 2         Verano-2022  Riviera Tulum           6
1                Yaaxlum  Torre N: Inmediata      Region 15          64
1               Zama 120           Inmediata     Aldea Zama    SOLD OUT
1              Zen Tulum           Pendiente      Region 15

      Master Broker
1    RIVIERA MORADA
1            WALDIR
1         ONE PRIME
1               BRM
1   ATACAMA RIVIERA
..              ...
1            MEXARK
1            MEXARK
1               GMB
1               GMB
1         MIDACTIVE

[335 rows x 5 columns]

In [18]:
Dataset.to_csv("TULUM.csv") # save as csv file

In [19]:
# H O L B O X  Y  O T R O S  P A R A I S O S
headers = {"User-Agent": "XY"}
link = "https://brokercenter.net/holbox-otros-paraisos/" # enter specific page
r = requests.get(link, headers=headers)
print(len(r.text.split('<tr class="row')))

Dataset = "" # declare variable so python does not freak out

50

In [20]:
cols = []
for row in range(1, len(r.text.split('<tr class="row'))): # loop through rows
        l = r.text.split(f'<tr class="row-{row} ')[1].split('</tr>')[0]
        s = l.split('">')
        icols = []
        for col in range(7): # loop through columns in rows

                # get data from html
                if s[col].split("<")[0] == '\n\t' or s[col].split("<")[0] == "odd" or s[col].split("<")[0] == "even":
                        continue
                if row == 1:
                        cols.append(s[col].split("<")[0])
                else:
                        icols.append(s[col].split("<")[0])
                        
        # append data to dataset
        if row == 1:
                continue
        if row == 2:
                print(cols) # print columns
                Dataset = pd.DataFrame(np.array(icols).reshape([1, len(icols)]), index=[1], columns=cols)
                print(Dataset) # print columns and first row of data
        else:
                # appease pandas with odd reshaping of data lists
                Dataset = Dataset.append(pd.DataFrame(np.array(icols).reshape([1, len(icols)]), index=[1], columns=cols))

['Desarrollo', 'Localidad', 'Dirección', 'Master Broker', 'DA CLICK AQUÍ PARA IR A LA INFORMACIÓN']
  Desarrollo Localidad       Dirección   Master Broker  \
1   DownTown    Akumal  Bahía Príncipe  BAHIA PRINCIPE

  DA CLICK AQUÍ PARA IR A LA INFORMACIÓN
1

In [21]:
print(Dataset) # print data(it tends to run together when printed but is clean in memory)

                 Desarrollo         Localidad             Dirección  \
1                  DownTown            Akumal        Bahía Príncipe
1                   Kaan Ha            Akumal        Bahía Príncipe
1      A-Nah Bahía Príncipe            Akumal        Bahía Príncipe
1             A-Nah Village            Akumal        Bahía Príncipe
1             Tao Community            Akumal        Bahía Príncipe
1                   Tao Sek            Akumal        Bahía Príncipe
1      Tao Ocean Residences            Akumal                Akumal
1               Tao La Luna            Akumal                Akumal
1           Tao Akumal Chic            Akumal                Akumal
1             Tao El Bosque            Akumal                Akumal
1              Tao Santamar            Akumal                Akumal
1              Tao La Selva            Akumal               Sirenis
1                Tao Solana            Akumal               Sirenis
1                Tao Zamira            Akumal               Sirenis
1             Seasun Condos            Akumal               Sirenis
1                    Yaamaj            Akumal               Sirenis
1                 Tankah 52     Caleta Tankah         Caleta Tankah
1                 4 Vientos     Caleta Tankah         Caleta Tankah
1                   Kooptee          Chemuyil                Centro
1          Distrito Cozumel           Cozumel
1                 Elementos           Cozumel         Campo de Golf
1                     Galia           Cozumel
1                    Kippal           Cozumel                Centro
1                    Nativo           Cozumel                 Norte
1                    Novara           Cozumel                Centro
1            Suites Cozumel           Cozumel            Centro Sur
1                 The María           Cozumel                Centro
1                Riad Romeo           El Cuyo               El Cuyo
1                 Yam Balam            Holbox            Punta Coco
1                   Adentia            Holbox                Centro
1                    Artila      Isla Mujeres          Isla Mujeres
1                      Saam          Mahahual        Mahahual costa
1                  IKI Soul          Mahahual           Las Casitas
1                   Allegro  Puerto Aventuras      Marina 1 Sección
1                     Bliss  Puerto Aventuras      Marina 4 Sección
1                Blue House  Puerto Aventuras      Marina 4 Sección
1                   CasaCun  Puerto Aventuras
1             Quinta Laguna  Puerto Aventuras        Bahia Kantenah
1               Tao Nautico  Puerto Aventuras                Marina
1              Villas KA'AN  Puerto Aventuras         Campo de Golf
1                    Briara  Puerto Aventuras                 Taema
1                GlassHouse  Puerto Aventuras                 Taema
1               Taema Homes  Puerto Aventuras                 Taema
1          Distrito Morelos    Puerto Morelos  Puerto Morelos Costa
1  The Fives Puerto Morelos    Puerto Morelos  Puerto Morelos Costa
1               Gaia Condos    Puerto Morelos  Puerto Morelos Costa
1                      Ikal    Puerto Morelos        Puerto Morelos
1                  MayaKaan    Puerto Morelos        Puerto Morelos

         Master Broker DA CLICK AQUÍ PARA IR A LA INFORMACIÓN
1       BAHIA PRINCIPE
1       BAHIA PRINCIPE
1                A-NAH
1                A-NAH
1                  TAO
1                  TAO
1                  TAO
1                  TAO                               SOLD OUT
1                  TAO                               SOLD OUT
1                  TAO
1                  TAO
1                  TAO
1                  TAO
1                  TAO
1      ROGER CHAVARRIA
1        GRUPO SIERRAS
1             AMORAMAR
1             AMORAMAR
1           OCEAN MAYA
1
1         DREAM HOUSES
1
1             ESREALTY
1                LOTUS
1              BARTEGA
1
1            THE MARIA
1        GRUPO TSALACH
1               DUVELA
1                RAISE
1               ARTILA
1                  GMB
1                LOTUS
1         DREAM HOUSES
1
1                  GMB
1  ENGEL &amp; VOLKERS
1                 AQUA
1                  TAO
1                 AQUA
1
1              ROIALTY
1              ROIALTY
1              TSALACH
1            THE FIVES
1
1
1             MAYAKAAN

In [22]:
Dataset.to_csv("HOLBOXYOTROS.csv") # save as csv file

In [23]:
# C A N  C U N
headers = {"User-Agent": "XY"}
link = "https://brokercenter.net/holbox-otros-paraisos/" # enter specific page
r = requests.get(link, headers=headers)
print(len(r.text.split('<tr class="row')))

Dataset = "" # declare variable so python does not freak out

50

In [24]:
cols = []
for row in range(1, len(r.text.split('<tr class="row'))): # loop through rows
        l = r.text.split(f'<tr class="row-{row} ')[1].split('</tr>')[0]
        s = l.split('">')
        icols = []
        for col in range(7): # loop through columns in rows

                # get data from html
                if s[col].split("<")[0] == '\n\t' or s[col].split("<")[0] == "odd" or s[col].split("<")[0] == "even":
                        continue
                if row == 1:
                        cols.append(s[col].split("<")[0])
                else:
                        icols.append(s[col].split("<")[0])
                        
        # append data to dataset
        if row == 1:
                continue
        if row == 2:
                print(cols) # print columns
                Dataset = pd.DataFrame(np.array(icols).reshape([1, len(icols)]), index=[1], columns=cols)
                print(Dataset) # print columns and first row of data
        else:
                # appease pandas with odd reshaping of data lists
                Dataset = Dataset.append(pd.DataFrame(np.array(icols).reshape([1, len(icols)]), index=[1], columns=cols))

['Desarrollo', 'Localidad', 'Dirección', 'Master Broker', 'DA CLICK AQUÍ PARA IR A LA INFORMACIÓN']
  Desarrollo Localidad       Dirección   Master Broker  \
1   DownTown    Akumal  Bahía Príncipe  BAHIA PRINCIPE

  DA CLICK AQUÍ PARA IR A LA INFORMACIÓN
1

In [25]:
print(Dataset) # print data(it tends to run together when printed but is clean in memory)

                 Desarrollo         Localidad             Dirección  \
1                  DownTown            Akumal        Bahía Príncipe
1                   Kaan Ha            Akumal        Bahía Príncipe
1      A-Nah Bahía Príncipe            Akumal        Bahía Príncipe
1             A-Nah Village            Akumal        Bahía Príncipe
1             Tao Community            Akumal        Bahía Príncipe
1                   Tao Sek            Akumal        Bahía Príncipe
1      Tao Ocean Residences            Akumal                Akumal
1               Tao La Luna            Akumal                Akumal
1           Tao Akumal Chic            Akumal                Akumal
1             Tao El Bosque            Akumal                Akumal
1              Tao Santamar            Akumal                Akumal
1              Tao La Selva            Akumal               Sirenis
1                Tao Solana            Akumal               Sirenis
1                Tao Zamira            Akumal               Sirenis
1             Seasun Condos            Akumal               Sirenis
1                    Yaamaj            Akumal               Sirenis
1                 Tankah 52     Caleta Tankah         Caleta Tankah
1                 4 Vientos     Caleta Tankah         Caleta Tankah
1                   Kooptee          Chemuyil                Centro
1          Distrito Cozumel           Cozumel
1                 Elementos           Cozumel         Campo de Golf
1                     Galia           Cozumel
1                    Kippal           Cozumel                Centro
1                    Nativo           Cozumel                 Norte
1                    Novara           Cozumel                Centro
1            Suites Cozumel           Cozumel            Centro Sur
1                 The María           Cozumel                Centro
1                Riad Romeo           El Cuyo               El Cuyo
1                 Yam Balam            Holbox            Punta Coco
1                   Adentia            Holbox                Centro
1                    Artila      Isla Mujeres          Isla Mujeres
1                      Saam          Mahahual        Mahahual costa
1                  IKI Soul          Mahahual           Las Casitas
1                   Allegro  Puerto Aventuras      Marina 1 Sección
1                     Bliss  Puerto Aventuras      Marina 4 Sección
1                Blue House  Puerto Aventuras      Marina 4 Sección
1                   CasaCun  Puerto Aventuras
1             Quinta Laguna  Puerto Aventuras        Bahia Kantenah
1               Tao Nautico  Puerto Aventuras                Marina
1              Villas KA'AN  Puerto Aventuras         Campo de Golf
1                    Briara  Puerto Aventuras                 Taema
1                GlassHouse  Puerto Aventuras                 Taema
1               Taema Homes  Puerto Aventuras                 Taema
1          Distrito Morelos    Puerto Morelos  Puerto Morelos Costa
1  The Fives Puerto Morelos    Puerto Morelos  Puerto Morelos Costa
1               Gaia Condos    Puerto Morelos  Puerto Morelos Costa
1                      Ikal    Puerto Morelos        Puerto Morelos
1                  MayaKaan    Puerto Morelos        Puerto Morelos

         Master Broker DA CLICK AQUÍ PARA IR A LA INFORMACIÓN
1       BAHIA PRINCIPE
1       BAHIA PRINCIPE
1                A-NAH
1                A-NAH
1                  TAO
1                  TAO
1                  TAO
1                  TAO                               SOLD OUT
1                  TAO                               SOLD OUT
1                  TAO
1                  TAO
1                  TAO
1                  TAO
1                  TAO
1      ROGER CHAVARRIA
1        GRUPO SIERRAS
1             AMORAMAR
1             AMORAMAR
1           OCEAN MAYA
1
1         DREAM HOUSES
1
1             ESREALTY
1                LOTUS
1              BARTEGA
1
1            THE MARIA
1        GRUPO TSALACH
1               DUVELA
1                RAISE
1               ARTILA
1                  GMB
1                LOTUS
1         DREAM HOUSES
1
1                  GMB
1  ENGEL &amp; VOLKERS
1                 AQUA
1                  TAO
1                 AQUA
1
1              ROIALTY
1              ROIALTY
1              TSALACH
1            THE FIVES
1
1
1             MAYAKAAN

In [26]:
Dataset.to_csv("CANCUN.csv") # save as csv file